@charset "UTF-8";

body {
	font-family: 'Inter', sans-serif !important;
}
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
  		background-color: #696969;
  		color: white;
  		font-size: 14px;
  		visibility: hidden;
  		position: absolute;
  		white-space: nowrap;
  		padding: 1px 5px 2px 5px;
}
[data-title] {
	position: relative;
}
#headbar {
	font-size: calc( 12px + (20 - 16) * (100vw - 400px) / (800 - 400) );
	font-weight: 300;
}
#home::before {
	content: url(home.png) !important;
}
.breadcrumb-item::before {
	content: url(discount.png) !important;
	padding-right: 5px !important;
}

.breadcrumb-item::after {
	content: ">";
	padding-left: 10px;
}

.breadcrumb-item:last-child::after {
	content: "";
}

.breadcrumb-item:last-child {
	opacity: 1.0;
}

.breadcrumb-item {
	opacity: 0.5;
}
.nav-link {
	color: black;
}
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu li a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-menu li a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

#breadcrumbContainer {
	margin-left: 165px; 
	display: flex; 
	justify-content: space-between; 
	width: 84%;
}

#progress {
	white-space: nowrap;
}

#FabricCode {
	font-size: 24px;
	white-space: nowrap;
}

.commentbtn {
	background-color: #FFF; 
	color: #4D73FF; 
	border-color: #4D73FF;
	flex: 1;
}

.comment {
	background: #FFF;
}

.carousel-item img {
    width: 100%;       /* Ensures the image takes full width of the container */
    height: 400px;     /* Set a fixed height (adjust as needed) */
    object-fit: cover; /* Ensures the image covers the area without distorting */
}

.imgbtn {
	background-color: #4D73FF; 
	color: white; 
	flex: 1;
}