@charset "UTF-8";

body {
	font-family: 'Inter', sans-serif !important;
}

#loginmsg {
	text-align: left;
	font-size: calc( 36px + (20 - 16) * (100vw - 400px) / (800 - 400) );
}

#headbar {
	font-size: calc( 12px + (20 - 16) * (100vw - 400px) / (800 - 400) );
	font-weight: 300;
}

#home::before {
	content: url(home.png) !important;
}

.breadcrumb-item::before {
	content: url(discount.png) !important;
	padding-right: 5px !important;
}

.breadcrumb-item::after {
	content: ">";
	padding-left: 10px;
}

.breadcrumb-item:last-child::after {
	content: "";
}

.breadcrumb-item:last-child {
	opacity: 1.0;
}

.breadcrumb-item {
	opacity: 0.5;
}

.nav-link {
	color: black;
}