@charset "UTF-8";

body {
	font-family: 'Inter', sans-serif !important;
}

#displayqp {
	background-color: #4D73FF;
	color: white;
	width: 80%;
	margin-left: 165px !important;
}

#constraint {
	color: black;
	width: 80%;
	margin-left: 165px !important;
}

#submitpd {
	background-color: #4D73FF;
	color: white;
	width: 25%;
}

#headbar {
	font-size: calc( 12px + (20 - 16) * (100vw - 400px) / (800 - 400) );
	font-weight: 300;
}

#home::before {
	content: url(home.png) !important;
}

.breadcrumb-item::before {
	content: url(discount.png) !important;
	padding-right: 5px !important;
}

.breadcrumb-item::after {
	content: ">";
	padding-left: 10px;
}

.breadcrumb-item:last-child::after {
	content: "";
}

.breadcrumb-item:last-child {
	opacity: 1.0;
}

.breadcrumb-item {
	opacity: 0.5;
}

.nav-link {
	color: black;
}