@charset "UTF-8";

#displayqp {
	background-color: #4D73FF;
	color: white;
	width: 80%;
	margin-left: 165px !important;
}

#constraint {
	color: black;
	width: 80%;
	margin-left: 165px !important;
}

#submitpd {
	background-color: #4D73FF;
	color: white;
	width: 25%;
}